@charset "UTF-8";

// color
$primary-color: #448899; //cyan-70, #489
$primary-color-50: #6ab;
$primary-color-20: #ade;
$secondary-color: #666666; //gray-70, #666
$secondary-color-50: #757575;
$secondary-color-20: #e8e8e8;
$secondary-color-10: #f8f8f8;
$gradient1: linear-gradient(45deg, #aaddee, #66aabb);
$gradient2: linear-gradient(0deg, #337788, #66aabb);
$support-color-blue-gray: #aabbcc;
$real-white: #fff;

// bascie
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Noto+Sans+TC:wght@200;400;500;700&family=Redacted+Script&display=swap");
$font: "Noto Sans TC", sans-serif;
$max-width: 1200px;

// font&border
$font-regular-size: 16px;
$basic-border-radius: 5px;

// padding
$basic-padding: 10px;
$input-padding: 15px;

// height&weight
$header-height: 54px;
$welcome-visible-height: 320px;
$search-bar-height: 46px;
$search-bar-desktop-width: 460px;
$search-bar-mobile-width: 285px;

/* @font-face {
    
      font-family: 'Noto Sans TC';
      src: url('/path/to/NotoSansTC-Regular.otf') format('opentype');
  } */
@mixin h1-slogan {
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
}
@mixin h2-headline {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
}
@mixin h3-dialog {
    // font-weight: 700;
    // font-weight: 400;
    //  // regular, css=normal
    font-size: 24px;
    line-height: 24px;
}

@mixin button-text {
    // font-weight: 400;
    // // default  regular, css=normal

    // font-weight: 700;
    font-size: 19px;
    line-height: 16px;
}
@mixin content-text {
    // // default regular, css=normal

    // font-weight: 700;
    font-weight: 400;
    font-size: 16px;
    line-height: auto;
}

@mixin body-text {
    font-weight: 500;
    // change default to medium (500)
    // font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 13.3px;
}

@mixin list-text {
    font-weight: 500; // medium

    font-size: 14px;
    line-height: auto;
}
@mixin input-default {
    @include body-text;
    background-color: $real-white;
    border-radius: $basic-border-radius;
    outline: none;
    border: 1px solid #ccc;
}

/* 基本樣式重置 */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    @include body-text;
    font-family: $font;
    // background-color: #757575;  /* 使用 footer 的背景顏色 */
//     // font-size: $font-regular-size;
//     a {
//         text-decoration: none;
//         color: inherit;
//     }
//     button {
//         @include button-text;
//         cursor: pointer;
//         border: none;
//     }
}
main {
  background: white;
}

// monkey 👆

// navbar
header {
  height: 54px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  font-size: 20px;
  color: #0E3C33;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #E8E8E8;
}

.logo{
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  color: #448899;
  cursor: pointer;
}

nav {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu-items li {
  margin-left: 20px;
}

.menu-items li a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #666;
}

/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // mask
    background-color: rgba(0, 0, 0, 0.7);

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      
      // background-color: none;
      width: 340px;
      margin: 80px auto 0 auto;
      // left: 50%;  /* 居中對齊 */
      // transform: translateX(-50%);  /* 用於左右居中 */
    }
  }
  

// .color-bar {
  // border-radius: 6px 6px 0 0;
  // }

.gradient-bar {
  height: 10px;
  background: var(--additional-color-dark-cyan-gradient-0-deg, linear-gradient(270deg, #378 0%, #6AB 100%));
  border-radius: 6px 6px 0 0;
  width: 100%;
  position: absolute;
  top: 70px;
} 
.close-btn {
  position: absolute;
  top: 80px;
  right: 10px;
  z-index: 1000; //form ++
  cursor: pointer; 

  // style
  padding: 7px;
  font-weight: 200;
  font-size: 22px;
  color: rgba( #666, 0.8);
}
  
  #login-form, #register-form {
    position: absolute;
    top: 80px;  
    
    display: flex;
    flex-direction: column;
    width: 340px;
    padding: 15px;
    flex-shrink: 0;
    background-color: white;
    z-index: 999;
    border-radius: 0 0 6px 6px;
  }

.form-heading {
  @include h3-dialog;
  font-weight: 700;
  // others
  text-align: center;
  margin-bottom: 15px;
  // style
  color: #666666;
   /* 100% */
}

.form-input {
  width: 100%;
  height: 47px;
  margin-bottom: 10px;

  border-radius: $basic-border-radius;
  border: 1px solid #ccc;
  padding: 15px;
}

.form-button {
  padding: 10px 20px;
  background-color: #448899;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 19px;
  width: 100%;
  margin-bottom: 10px;
}

.form-text{
  font-size: 16px;
  color: #666666;
  text-align: center;
}

#switch-to-register, #switch-to-login {
  cursor: pointer;

  &:hover {
    color: #448899;
    transition: ease-in-out 0.2s;
  }
}


/* footer */

footer {
    width: 100%;  /* 設定寬度為 100% */
    padding: 0;
    height: 104px;  /* 設定高度為 104px */
    background-color: #757575; 
    display: flex;
    align-items: center;  
    justify-content: center; 
    bottom: 0;
    z-index: 999;
}
  
  
.footer-text-box {
    font-size: 16px;  
    font-weight: 700;  
    line-height: 13px;  
    color: white;
}
  