@import "base";

.banner {
  /* UI fixed */
  margin-top: 54px;
  /* UI bg  */
  min-height: 320px;
  background-image: url("../images/welcome.png");
  background-repeat: no-repeat;
  /* background-size: contain   */
  background-position: top;
  background-size: cover;
}

.banner-text {
  /* UI Setup*/
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
}
.banner-title {
  /* UI bg */
  margin-top: 85px;
  margin-bottom: 15px;
  /* UI */
  font-size: 28px;
  font-weight: 700;
  color: var(--secondary-color-gray-10, #f8f8f8);
  text-shadow: 0px 0px 30px #abc;
}
.banner-describe{
  margin-bottom: 25px;
  /* UI */
  font-size: 16px;
  color: var(--secondary-color-gray-10, #f8f8f8);
}
.search-bar {
  /*  UI */
  position: relative;
  width: 460px;
  height: 46px;
  border: none;
  /* guess */
  border-radius: 4px;
  fill: var(--White, #fff);
}
.search-bar #search-input {
  /* UI bg */
  width: 100%;
  border: none;
  fill: var(--White, #fff);
  border-radius: 5px;
  /* UI word */
  padding: 15px;
  font-weight: 700;
  border-radius: 0 4px 0 4px;
}

#search-button {
  /* UI bg */
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  margin: 0;
  /* background-color: Primary Color/Cyan 70; 藍綠色 */
  background-color: var(--primary-color-cyan-70, #489);
  border: none;
  /* UI word */
  color: white;
  cursor: pointer;
}

main {
  margin: 50px auto 40px auto;
  max-width: 1200px;
}

/* List-bar*/
.list-bar {
  display: flex;
  overflow: hidden;
  max-width: 1200px; /* 設定列表條寬度 */
  align-items: center; /* 垂直置中 */
  margin-bottom: 20px;
}


.list-item {
  background: #ffffff;
  border: none;
  flex: 0 0 auto;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* 左右滑動效果 */
.list-container {
  display: flex;
  justify-content: space-between; /* 平均散佈 */
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden; /* 水平滾動 */
}

/* 按鈕樣式 */
.scroll-button {
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 18px;
  margin: 0 5px;
  background-color: #fff;
}
/* 12個Profile方框的容器 */
.profile {
  padding: 15px;
  gap: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Profile方框 */
.profile-li {
  position: relative;
  height: 242px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  flex-grow: 1;
  flex-basis: 22%;
  overflow: hidden;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

/* Profile方框內的上部區塊 */
.profile-li .card-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* card-top 內容 */
.card-top {
  position: relative;
  height: 197px;
}

/* Profile方框內的下部區塊 */
.profile-li .card-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Profile方框內的圖片 */
.profile-li .card-top .main-img {
  width: 100%;
  height: 197px;
  object-fit: cover;
  z-index: 1;
}

/* Profile方框內的文字 */
.profile-li .profile-title {
  position: absolute;
  height: 40px;
  width: 100%;
  z-index: 1;
  background: rgba(49, 48, 48, 0.5);
  color: white;
  bottom: 0px;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 13.3px;
}
/* card-bottom 內容 */
.card-bottom {
  padding: 10px;
  color:#757575;
  font-weight: 500;
  line-height: 13.3px;
}

/* 分類和捷運站的資訊 */
.profile-li .card-bottom .profile-category,
.profile-li .card-bottom .profile-mrt {
  margin: 5px;
  font-size: 14px;
}

@media (min-width: 350px)and (max-width: 1200px) {
  .banner-text {
    padding-left: 15px;
  }
  .search-bar {
    /* UI bg */
    width: 285px;
  }
}

/* 在600 像素 < 螢幕解析度的寬度 <= 1200 像素 */
@media (min-width: 600px) and (max-width: 1200px) {

  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .profile-li {
    /* display: flex; */
    flex-grow: 1;
    flex-basis: calc(40% - 10px); /* 每行 2 個方框，減去間距的一半 */
    box-sizing: border-box;
  }
  .profile-img {
    width: 100%;
    object-fit: cover;
  }
  .profile-title {
    display: flex;
    align-items: center; /* 垂直置中 */
    height: 20px; /* 填滿父元素的高度 */
  }
}

@media (min-width: 360px) and (max-width: 600px) {
  /* .banner > * {
    margin-left: 20px;
  } */

  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .profile-li {
    flex-basis: 100%; /* 每個 profile-li 佔據整行的寬度 */
    box-sizing: border-box;
  }

  .profile-img {
    width: 100%; /* 圖片寬度與方框相同 */
    height: auto; /* 高度自適應 */
  }
  .profile-title {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    height: 20px; /* 填滿父元素的高度 */
  }
}
