<!-- @format -->
{% extends "base.html" %} {% block title %} 台北一日遊-首頁 {% endblock %} {%
block head_extra %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.min.css') }}"
/>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %} {% block content %}
<div class="banner">
  <div class="banner-text">
    <h2 class="banner-title">輕鬆享受台北一日悠閒</h2>
    <p class="banner-describe">探索每個角落，體驗城市的深度旅遊行程</p>
    <div class="search-bar">
      <input type="text" placeholder="輸入景點名稱查詢" id="search-input" />
      <button title="search-query" type="submit" id="search-button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
</div>

<main>
  <div class="list-bar">
    <button class="scroll-button prev-button">
      <img src="../static/images/button/Left.png" alt="上一頁" />
    </button>
    <div class="list-container">
      <!-- 選項將在這裡動態生成 -->
    </div>
    <button class="scroll-button next-button">
      <img src="../static/images/button/Right.png" alt="下一頁" />
    </button>
  </div>

  <ul class="profile">
    <!-- 景點資料將在這裡動態生成 -->
  </ul>

  <div class="container">
    <!-- 初始資料將會載入這裡，之後的資料也會附加在這裡 -->
  </div>
</main>

{% endblock %}
